[package]
name = "alephchat"
version = "0.1.0"
authors = ["Maciek Malik <poczta@maciekmalik.pl>", "Piotr Swierzy"]
edition = "2021"

[dependencies]
ink = { version = "4.2.0", default-features = false }
#ink_prelude = "4.2.0"
#ink_e2e = "4.2.0"
#ink_env = "4.2.0"

scale = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2.6", default-features = false, features = ["derive"], optional = true }

[dev-dependencies]

[lib]
name = "alephchat"
path = "lib.rs"

[features]
default = ["std"]
std = ["ink/std", "scale/std", "scale-info/std"]
ink-as-dependency = []
e2e-tests = []
